"*":
  core:
    # https://github.com/gandm/language-babel/issues/510
    customFileTypes:
      "source.js.jsx": [
        "js"
      ]
    disabledPackages: [
      "language-javascript"
      "github"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "SF Mono"
    lineHeight: 1.6
    preferredLineLength: 100
    showIndentGuide: true
  hyperclick:
    darwinTriggerKeys: "altKey"
  welcome:
    showOnStartup: false
